$enable-shadows: true;
$primary: rgb(0,168,225);
$dark: rgb(0,45,91);

$breadcrumb-divider-color: white;
$breadcrumb-active-color: white;

@import "../bootstrap/scss/bootstrap";

body
{
	background-color: rgba(243, 242, 239, 0.5);
}

/*.navbar-nav::before
{
	content: '';
	height: 100%;
	width: 10px;
	padding-right: 30px;
	//background: linear-gradient(to right, rgba(0,168,225,0.7) 0%, rgba(0,45,91,0.8) 60%);
	background: white;
	transform-origin: 100% 0;
	transform: skew(-30deg);
}*/

.navbar.bg-primary
{
	background: linear-gradient(to right, rgba(0,168,225,0.7) 0%, rgba(0,45,91,0.8) 60%);
}